body {
 font-family:"trebuchet ms",sans-serif;
 font-size:90%;
 }

form {
 background-color:#FAFAFA;
 padding:50px;
 width:400px;
 border: 1px black solid;
 border-radius: 10px;
}


contact {
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 border:1px solid #003300;
 }

legend {
 color: #333333;
 font-weight:bold
 }

label {
 margin-top:10px;
 display:block;
 }

label.inline {
 display:inline;
 margin-right:10px;
 }

input, textarea, select, option {
 background-color:#FFF3F3;
 }

input, textarea, select {
 padding:3px;
 border:1px solid #F5C5C5;
 border-radius:5px;
 width:200px;
 box-shadow:1px 1px 2px #C0C0C0 inset;
 }

select {
 margin-top:10px;
 }

input[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;
 }

button{
	margin-left: 50px;
	color: black;
	box-shadow:1px 1px 1px #D83F3D;
}

t {
font-family: "Arial ";
font-style: italic; 
}