h1{ 
 color: Fuchsia;
 margin-left: 32%;
 } 
 
form { 
 border: solid Fuchsia;
 border-radius : 15px;
 width : 35%;
 margin : auto;
 }

  fieldset{
 width : 38%;
  margin-left: 25.7%;
 }
 
 select{
 width : 35%;
 }
 
 .choix{
 text-align : left;
 margin-left : -15%;
 }
 
 .bouton{
 display : block;
 float : left;
 margin-left : -20%;
 }
 
label{
display : inline-block;
text-align : right;
width : 25%;
}

 input{
 width : 42%;
 }

.haut{
max-width : 90%;
margin-left : 5%;
}

.bas{
border-top : solid Gray 2px;
max-width : 90%;
margin-left : 5%;
}

.submit{
width : 30%;
margin-left : 25.8%;
}