h1{color: #FF00FF; margin-left : 100pt;}

h2{margin-left : 25px;}

h3{margin-left : 25px;}

label{margin-left : 25px;}

.bordure{border : 2px solid #FF00FF; border-radius : 15px; margin-right : 400px;}
fieldset{margin-right : 150px; margin-left : 155px;}

label{text-align : right; display : inline-block; width : 125px;}
h6{margin-left : 60px;}
h7{margin-left : 160px;}