h1{
	text-align: center;
	color: Fuchsia
}
body{
 text-align: center;}
 form{
 display: inline;
 margin-left : 100px;
 border-width:3px;
 border-color:black;
 
}
hr{
  display: block;
  height: 1px;
  margin: -0.5em 0;
  padding: 0;
  color: #A9A9A9;
  background-color: #A9A9A9;
  border: 0;
}
#menu{
 text-align: center;
 border-style:dotted;
 border-width:4px;
 border-style: solid;
 border-color:#FF00FF;
 border-radius: 10px;
 width: 35%;
 margin: auto;
}