h1{
color: Fuchsia
}
form
{
border:3px solid purple;
border-radius:1em;
margin-left : 100px;
width : 600px;
display:inline-block;
}
fieldset
{
margin-right : 100px;
width :100px;
text-align:right;
display:inline-block;
}

label
{
display: block;
width: 150px;
float: left;
}