h2{color:magenta;
text-align:center;}

form{border: 4px solid #B404AE;
border-radius: 20px;
margin-left:400px;
width:550px;
}

p,h3{margin-left:8px;}

div{text-align:center;
padding:8px;
display: inline-block;}

input,select{display: inline-block;
margin-right:30px;
}

label{margin-right:30px;
width:100px;
display: inline-block;
}

fieldset{width:200;
margin-left:130;
}

button{margin-left : 135px;}



