body
{
text-align : center;
}

h1
{
color : violet ;
}

form
{
margin-left : 30%;
width : 45%;
border: 3px solid violet;
border-radius : 10px;
}

label
{
color : black ;
/*display : inline-black;
float: left ; */
text-align : right;
}

input
{
border-style : solid ;
border-color : black ;
margin-left : 40%;
}

textarea
{
border-style: solid ;
border-color: black ;
}

button
{
color : violet;
}