h1{color : #FF00FF;
margin-left : 375px;}

form{border : 4px solid #FF00FF;
 border-radius : 15px;
 margin-left: 375px;
width : 550px;}

label{margin-left : 10px;
 	text-align: right;}

 	.align{display : inline-block;
 	width : 150px;}
 
 .ol{margin-left : 165px;
 	width : 150px;}

.ok{margin-left : 165px;
 	width : 145px;}