h1{
	color : fuchsia;
	margin-left: 200px;
}
form{
	border : 2px solid fuchsia;
	border-radius: 15px;
	margin-left: 200px;
	width: 500px;
	padding: 1em;


}
label{
	display: inline-block;
	float: left;
	width: 150px;
	text-align: right;
}
input{
	display: inline-block;
	float: left;
}

button{margin-left: 150px;}

fieldset{
	margin-left: 150px;
	width: 150px;
	

}
