h1{color:violet;}
h2{margin-left: 10px}
p{margin-left: 10px}
legend{margin-left: 5px;}
.cadre{ border: 3px  violet solid; border-radius: 10px; width: 500px}
.civilite{width: 220px; text-align: left;display:block; margin-left: 150px; border-radius:10px}
label{margin-left: 5px; display: inline-block; width:140px; text-align: right}
.taille{width: 220px;}
select{width: 150px; display: inline-block; margin-left: -5px}
.confirmer{margin-left: 150px;}
body{margin-left: 200px;}
select{margin-left: 2px;}