
h1{
	color: fuchsia;
	padding-left:278px; 
}
form{
	margin: 0 auto;
	width: 600px;
	padding: 1em;
	border: 4px solid #CCC;
	border-radius: 1em;
	border-color: fuchsia;
}

div{
	margin-top: 1em;
}

label{
	
	display: inline-block;
	width: 120px;
	text-align: right;
	color: black;
}
label.civilite{
	text-align: left;

}
input{
	font: 1em sans-serif; 
	width: 300px;
	border: 1px solid black;
}
p{
	text-align: left;
}
fieldset{
	text-align:left; 
	margin-right:175px;
	margin-left:124px;
}

#Madame,#Monsieur{
	width: 20px;
	text-align: left;
	margin-left: 0px;
	margin-right: 0px;
}

hr{
	 width="100%" color="grey">
}

.button{
	padding-left: 117px;
	
}

button{
	margin-left: .5em;
	color: black;
}

