h1{
	color: fuchsia;
	margin-left: auto;
	margin-right: auto;
}

fieldset{
	width: auto;
}

hr{
	width: 480px;
}

.cadre{
	border: 4px solid fuchsia;
	border-radius: 10px;
	width: 550px;
	height: 450px;
	margin-left: 29%;
	

}

.civilite{
	width: 200px;
}
div

.content1{
	margin-left: 20px;
}
.content2{
	margin-left: 100px;
}
.content3{
	margin-left: 40px;
}
.content4{
	margin-left: 20px;
}

.button{
	margin-left: 150px;
}

label{

	display:inline-block;
	float: left;
}

input,textarea{
	vertical-align: top;
	float: center;
}
