#titre{
pading:0.5em;
text-indent:-23em
}/*Placement du titre*/
#menu{
 text-align: center;
 border-style:dotted;
 border-width:4px;
 border-style: solid;
 border-color:#FF00FF;
 border-radius: 10px;
 width: 40%;
 margin: auto;
}/*permet de faire le grand encadrer*/
h1{
pading:0.5em;
text-indent:16em;
color: #FF00FF;
}/*permet de colorer et placer le 1er sous titre*/
h2{
text-indent:-16em
}/*permet de colorer et placer le 2nd sous titre*/
label {
  display:block;
  float:left;
  width:150px;
  text-align:right;
  padding:0 5px 0 0
}/*permet de placer les zones de texte*/
input  {float:left}
}
body { 
    margin-top: 500px;
    margin-bottom: 100px;
    line-height: 100px;
} 
fieldset{
 border-style:solid;
border-color:gray;
 width: 19%;
margin-right:100px;
margin-left:155px;
padding-top:0px;
padding-bottom:5px;
}/*permet d'encadrer convenablement l'encadrer civilité*/
select{ margin: left}
#nom{text-indent:-22em}/*permet de placer les apres encadrer comme */
#courriel{text-indent:-22em}/*permet de placer les apres encadrer comme */
#num{text-indent:-16em}/*permet de placer les apres encadrer comme */
#date{text-indent:-14em}/*permet de placer les apres encadrer comme */
#civilité{text-indent:-20em}/*permet de placer les apres encadrer comme */
