h1{
	color : fuchsia;
	font-weight : bold;
}


/*		CADRE FUCHSIA		*/

#formulaire{
	color : fuchsia;
	border : 3px solid;
	border-radius : 20px;
	width : 550px;
	}

p,hr{
	color : black;
	margin-left : 10px;
	margin-right : 10px;
	}

h2{
	color : black;
	font-weight : bold;
	margin-left : 10px;
}	


/*		CADRE CIVILITE		*/

fieldset{
	color : black;
	width : 220px;
	margin-left : 130px;
}

#monsieur,#madame{
	width:10px;
}	

#mr,#mme{
text-align : left;
}


/*		ZONES DE SAISIE DE TEXTE		*/

form{
	width : 600px;
}

label{
	color : black;
	text-align : right;
	display : inline-block;
	width : 110px;
	}

input{
	width : 240px;
	}


/*		BOUTON		*/

button{
	margin-left : 120px;
	display : inline-block;
	}