h1{
color: #FF00FF;
margin : auto;
width: 600px ;
padding: 0.5em;
}

form{
margin : auto;
width: 550px ;
padding: 1em;
border : 5px solid #DF01D7;
border-radius : 1em;
}

fieldset{
text-align : left;
margin : auto;
padding : 0.5em;
width: 250px ;
border : 1px solid;
}

label {
display: inline-block;
width: 120px;
padding: 0.5em;
text-align: right;

}

input{
width: 250px;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

datalist{
width: 100px;
-moz-box-sizing: border-box;
box-sizing: border-box;
}