h1{ 
 color: Fuchsia;
 margin-left: 27.5%;
 } 
 
 fieldset{
 width : 45%;
 margin : auto;
 }
 
form { 
 border: solid Fuchsia;
 border-radius : 10px;
 width : 45%;
 margin : auto;
 }
 
 select{
 width : 25%;
 }
 
 .choix{
 text-align : left;
 margin-left : -15%;
 }
 
 .bouton{
 display : block;
 float : left;
 margin-left : -20%;
 }
 
label{
display : inline-block;
text-align : right;
width : 25%;
}

 input{
 width : 50%;
 }

.div1{
max-width : 90%;
margin-left : 5%;
}

.div2{
border-top : solid Gray 2px;
max-width : 90%;
margin-left : 5%;
}

.submit{
width : 20%;
margin-left : 25%;
}