
.titre{ 
color : #7A007A; 
}

input{ 
margin-top: 15px; 
	size:120px; 

}
label{
	width: 140px;
	display: inline-block;
	text-align: center;
	
	}
	
.prmeierTableau
{
width: 212px;
//margin-left:100px; 
display: inline-block;


}

.leBorder
{
border: 5px solid #7A007A;
border-radius:15px;
width : 550px; 
//margin-left : 300px;

}
h5
{
margin-left:150px; 
}


