h1{
	color: fuchsia;
	margin-left: auto;
	margin-right: auto;
}

fieldset{
	width: auto;
}

hr{
	width: 500px;
}

.cadre{
	border:10px solid fuchsia;
	border-radius: 7px;
	width: 550px;
	height: 450px;
	margin-left: 29%;
	

}

.civilite{
	width: 200px;
}
div



.content1{
	margin-left: 150px;
}
.content2{
	margin-left: 150px;
}
.content3{
	margin-left: 150px;
}
.content4{
	margin-left: 150px;
}

.button{
	margin-left: 200px;
}

label{

	display:inline-block;
	float: left;
	float:center;
	
	
}

input,textarea{
	vertical-align: top;
	float: center;
	
}
